body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    background-color: #f4f4f4;
    
}

.header-container {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 110px;
    background-color: #00008B; 
    background-image: linear-gradient(to right, #00008B, #87CEFA);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    position: fixed; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    height: 45px;
    background-color: #00008B; 
    background-image: linear-gradient(to right, #00008B, #87CEFA);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-text {
    font-size: 48px; 
    color: white; 
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-shadow: 8px 8px 5px #000000; 
}




.text {
    font-size: 18px;
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.9); 
}

.image-box {
    width: 400px;
    height: 300px;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 10px 10px 7px #00008B;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.image-box img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 15px;
}

.projetos-imagem{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.image-box:hover {
    transform: translateY(-10px); 
    box-shadow: 15px 15px 10px #00008B; 
}

.shadow01 {
    position: fixed;  
    top: 20px;  
    left: 50%;
    transform: translateX(-50%);  
    font-size: 35px;
    color: white;
    text-shadow: 1px 1px 2px black,   
                 0 0 25px rgb(255, 89, 0),      
                 0 0 5px rgb(226, 117, 9);    
    z-index: 2; 
}