body{
    background-attachment: fixed;
    background-image: url("background.png");
    background-size: cover;
}

.nave{
    max-width: 100px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.shadow-custom {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); /* Aplique a sombra com mais controle */
}

.clock{
    max-width: 70px;
    max-height: 70px;
    width: auto;
    height: auto;
}
.missil{
    max-width: 55px;
    max-height: 55px;
    width: auto;
    height: auto;
}

.painel-informativo {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    box-shadow: 1px 1px 10px 4px rgba(240, 233, 233, 0.7);
}


 #missil1, #missil2 {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 30px;
    height: 100px;
    
     opacity: 0;
    transform: translateY(0);
    transition: transform 0.4s linear, opacity 0.2s ease-out;
    pointer-events: none;
    
  }

  .alien {
    position: absolute;
    width: 150px;
    height: 100px;
    pointer-events: none;
}


